# region Git Line Endings
# Set default behaviour to automatically normalize line endings.
* text=auto
# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf
# endregion
# region LFS
# Assets
assets/brand/*.png filter=lfs diff=lfs merge=lfs -text
# Docker CLI – vendored binaries
containers/entry/docker-cli/**/files/**/*.tgz filter=lfs diff=lfs merge=lfs -text
# Allure – vendored binaries
containers/entry/allure/**/files/**/*.tgz filter=lfs diff=lfs merge=lfs -text
# Google Cloud CLI – vendored binaries
containers/entry/gcloud/**/files/*.tar.gz filter=lfs diff=lfs merge=lfs -text
# OpenTofu – vendored packages
containers/entry/opentofu/**/files/*.apk filter=lfs diff=lfs merge=lfs -text
# Terraform – vendored packages
containers/entry/terraform/**/files/*.zip filter=lfs diff=lfs merge=lfs -text
# Zulu JDK – vendored binaries
containers/foundation/runtime/java/**/vendored/files/*.tar.gz filter=lfs diff=lfs merge=lfs -text
# Docker DinD rootless – vendored binaries
containers/daemon/docker/**/vendored/files/**/*.tgz filter=lfs diff=lfs merge=lfs -text
containers/daemon/docker/**/vendored/files/**/buildx-* filter=lfs diff=lfs merge=lfs -text
containers/daemon/docker/**/vendored/files/**/docker-compose-* filter=lfs diff=lfs merge=lfs -text
# Rust – vendored musl toolchain
containers/entry/rust/**/files/*.tar.xz filter=lfs diff=lfs merge=lfs -text
# Zig – vendored binary distribution
containers/entry/zig/**/files/*.tar.xz filter=lfs diff=lfs merge=lfs -text
# endregion
